section#address {
  width: 100%;
  color: #fff;
  background: $primary;
  .address-container {
    @include flex;
    .address-info {
      width: 100%;
      padding: 40px 2%;
      background: url(../img/footer/site_footer_info_bg_sp.jpg) no-repeat center top;
      background-size: cover;
      @media (min-width: 760px) {
        width: 40%;
      }
      @media (min-width: 1024px) {
        width: 30%;
      }
      @media (min-width: 1200px) {
        max-width: 340px;
      }
      dl {
        text-align: left;
        dt {
          position: relative;
          padding-bottom: 18px;
          font-size: 14px;
          span {
            display: block;
            margin-top: 3px;
            font-size: 12px;
          }
        }
        dd {
          padding-top: 15px;
          font-size: 12px;
          letter-spacing: .2em;
          margin-left: 0;
          a {
            padding: 0 10px;
            font-size: 18px;
            color: $white;

            background-color: rgba(255, 255, 255, .2);
          }
        }
      }
    }
    .address-map {
      position: relative;
      width: 100%;
      @media (min-width: 760px) {
        width: 60%;
      }
      @media (min-width: 1024px) {
        width: 70%;

      }
      @media (min-width: 1200px) {
        width: calc( 100% - 340px );
      }
      .address-map-container {

        overflow: hidden;
        iframe {
          width: 100% !important; 
        }
      }
    }

  }
  
}