
$white: #ffffff;

$gray: #c0c0c0;
$superlightgray: #f6f6f6;
$lightgray: #f2f2ea;
$darklightgray: #d3d3cd;
$bluegray: #BDD2DB;
$bgblack: #292c2f;
$bglightblack: #3c4044;
$black: #333333;
$primary: #2994CB;
$secondary: #0071A5;
$orange: #EA6133;
